<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIE - San Isidro Emprende</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/masterslider.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


<div class="master-slider ms-skin-default" id="masterslider">
    <div class="element"></div>
    <img class="logotipe" src="/img/sie_white.svg" alt="">
    <a href="#primero">
        <img class="scrolldown" src="/img/scrolldown.svg" alt="">
    </a>
    <!-- new slide -->
    <div class="ms-slide" data-delay="10">
        <img src="/img/back1.png" data-src="/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/img/back1.png" data-src="/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/img/back1.png" data-src="/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/img/back1.png" data-src="/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
</div>

<div>

Compra y Venta

<h2> <%= compraventa[0].nombre%></h2>
<img src="<%= compraventa[0].logo%>"/>

</div>




<div>

Invierte

<h2> <%= invierte[0].nombre%></h2>
<img src="<%= invierte[0].logo%>"/>

<h2> <%= invierte[1].nombre%></h2>
<img src="<%= invierte[1].logo%>"/>

</div>

<div>

Asociate

<h2> <%= asociate[0].nombre%></h2>
<img src="<%= asociate[0].logo%>"/>

<h2> <%= asociate[1].nombre%></h2>
<img src="<%= asociate[1].logo%>"/>

</div>




    <script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/js/masterslider.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js"  type="text/javascript"></script>
    <script src="/js/typed.js"  type="text/javascript"></script>
    <script src="/js/jquery.smoothscroll.min.js"  type="text/javascript"></script>
    <script>

        $(function(){
            $(".element").typed({
                strings: ["El Fracaso mas grande es nunca haberlo intentado", "El Fracaso mas grande es nunca haberlo intentado"],
                typeSpeed: 10
            });
        });


        var slider = new MasterSlider();

        slider.control('arrows' ,{insertTo:'#masterslider'});
        slider.control('bullets');

        slider.setup('masterslider' , {
            width:1024,
            height:500,
            space:5,
            grabCursor:false,
            view:'basic',
            loop:true,
            autoplay:true,
            layout:'fullscreen',
            speed:20
        });

        $(function() {
            $('html').smoothScroll(700);
        });

    </script>

</body>

</html>